@use '../../../assets/styles/mixins/gradient.scss' as *;

.auth {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block-end: 95px;

  &__title {
    font-size: 32px;
    font-family: var(--ffm-title, druktextwidecur, courier, monospace);
    font-weight: 500;
    margin-block-end: 8px;

    & span {
      @include title-gradient;
    }
  }

  &__form {
    display: flex;
    gap: 12px;
    flex-direction: column;
    transition: all 0.5s ease;
    transform: translate(0, 0);
    opacity: 1;

    &__change {
      opacity: 0;
      transform: translate(0, -20px);
    }

    button {
      margin-top: 20px;
    }
  }
}
