.footer {
  &__button {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-block-end: 100px;
    max-inline-size: 286px;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    gap: 44px 20px;
    padding-inline: var(--padding-inline);
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 122px 20px;
    padding-inline: 148px;
    padding-block: 56px;
    font-family: var(--ffm-default);
    font-weight: 500;
    color: var(--clr-main, #fff);
    background: url('../../assets/images/bg_footer.svg') no-repeat center /
      cover;

    &--links {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 96px;
      font-size: 16px;
    }

    &--content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 20px;

      &__correct {
        justify-content: end;
      }
    }
  }
}

.telegram__text {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-block-start: 100px;
  font-family: var(--ffm-title);
  font-size: 20px;

  &--gradient {
    color: transparent;

    background: linear-gradient(to left, #865bff 70%, #a84bff 100%);
    background-clip: text;
  }
}

.phone__image {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: end;
}

.repetitme__logo {
  grid-column: 1/2;
  grid-row: 1/2;
}

.links {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-inline-start: 133px;
  font-weight: 700;
  font-size: 20px;
  padding-block-start: var(--padding-blocks);

  &_item {
    max-inline-size: fit-content;
    text-decoration: none;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-weight: 700;
  padding-inline-end: 53px;
  font-size: 20px;
  padding-block-start: var(--padding-blocks);

  &__correct {
    padding-inline-end: 150px;
  }
}

.underline {
  text-decoration: underline;
  font-weight: 500;
 
}

@media screen and (width <= 1150px) {
  .footer {
    &__top {
      padding-inline: calc(var(--padding-inline) / 2);
    }

    &__bottom {
      padding-inline: 74px;
    }
  }

  .links {
    padding-inline-start: 0;
  }

  .contact {
    padding-inline-end: 0;
  }
}
