.catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 32px 20px;
  justify-items: center;
  max-width: 1200px;
  margin-inline: auto;
  margin-block: 31px 94px;

  &__cards {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  &__button {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &__search_hint {
    position: relative;
    padding: 24px 0 24px 20px;
    max-inline-size: 100%;
    font-weight: 600;
    background-color: #f1d5f6;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      left: -18px; // Смещение влево от блока
      top: 48%; // Центрирование по вертикали
      transform: translateY(-50%); // Центрирование по вертикали
      width: 0;
      height: 0;
      border-right: 20px solid #f1d5f6; // Цвет стрелочки
      border-top: 12px solid transparent; // Верхняя часть стрелочки
      border-bottom: 12px solid transparent; // Нижняя часть стрелочки
      border-radius: 1px;
    }
  }

  // &__filters {
  //   grid-column: 1 / 2;
  //   grid-row: 1 / 2;
  // }

  // &__link {
  //   grid-column: 1 / 2;
  //   grid-row: 2 / 3;
  // }
}
