.container {
    width: 62px;
    height: 28px;
    border-radius: 10px;

&__content {
        padding: 2px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

        &_rating {
        color: var(--clr-1);
        font-family: var(--ffm-default);
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        }

        &_star {
        width: 18px;
        height: 14px;
        }
    }
}

.rating_blue {
    background-color: #6757f1;
}

.rating_purple {
    background-color: #ab77fa;
}

.rating_red {
    background-color: #fa7782;
}
