.reactSelectContainer {
  width: 100%;
  
  .custom-select__control {
    min-height: 48px;
    font-family: var(--ffm-default);
    font-size: 16px;
    transition: border-color 0.3s;
    
    &--is-focused {
      border-color: var(--clr-blue) !important;
    }
  }
  
  .custom-select__menu {
    border: 1px solid var(--border-color);
    overflow: hidden;
  }
  
  .custom-select__option {
    cursor: pointer;
  }
  
  .custom-select__placeholder {
    color: var(--placeholder-color);
  }
  
  .custom-select__single-value {
    color: var(--clr-text);
  }
}