.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 60px 60px 0;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image:
    linear-gradient(white, white),
    linear-gradient(
      288.86deg,
      #3dc5ff 5.24%,
      #4558ff 29.77%,
      #865bff 60.98%,
      #ff71f9 89.96%,
      #ffaa47 116.71%
    );
  border-radius: 40px;
  inline-size: 100%;
  max-inline-size: 800px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(0.8);
  
  &__content {
    position: relative;
    inline-size: 100%;
    overflow: hidden;
  }

  &__close {
    position: absolute;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: none;
    background-color: transparent;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}
