@use '../../../../assets/styles/mixins/gradient.scss' as *;
@use '../../../../assets/styles/mixins/flexCenter.scss' as *;

.wrapper {
  position: relative;
  border-radius: 40px;
  border: 2px solid transparent;

  @include border-gradient;

  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 25%);
  overflow: hidden;

  @include flex-center-row;
}

.icon {
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2;
}
