@use '../../assets/styles/mixins/gradient.scss' as *;

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  background-color: var(--clr-1);
  max-inline-size: 1200px;
  margin: auto;

  &__list {
    background-color: var(--clr-main);
    border-radius: var(--border-radius-chat);
    padding: 24px;
    min-inline-size: 285px;
    display: flex;
    flex-direction: column;
    max-block-size: 184px;
    gap: 12px;
  }

  &__withAdditionalInfo {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: var(--ffm-default, 'Montserrat', courier, monospace);
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-black);
    margin-inline-start: 2px;
    margin-block-end: 10px;
  }

  &__value {
    font-family: var(--ffm-title, 'Druktextwidecur', courier, monospace);

    @include text-gradient(#865bff, #ff71f9);

    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.3px;
  }

  &__additional {
    display: flex;
    max-inline-size: 237px;
    block-size: 68px;
    border-radius: var(--border-radius-btn);
    background-color: rgb(254 237 235 / 100%);
    padding: 12px 20px;
    grid-row: 2;
    grid-column: 1/2;

    &--text {
      font-family: var(--ffm-default, 'Montserrat', courier, monospace);
      color: rgb(201 27 26 / 100%);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.36;
    }
  }
}
