.switcher {
  position: relative;
  inline-size: 40px;
  block-size: 24px;
  border-radius: 16px;
  background-color: var(--clr-1);
  cursor: pointer;
  border: none;
  padding: 0;
  transition:
    background-color var(--delay-desktop) var(--timing),
    transform var(--delay-desktop) var(--timing);

  &.active {
    background-color: var(--clr-primary-default);
  }

  .thumb {
    position: absolute;
    top: 4px;
    left: 5px;
    inline-size: 16px;
    block-size: 16px;
    background-color: white;
    border-radius: 16px;
    transition: transform var(--delay-desktop) var(--timing);
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  }

  &.active .thumb {
    transform: translateX(16px);
  }

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
}
