@font-face {
  font-family: Montserrat;
  src: url('./fonts-files/Montserrat-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: Open-Sans;
  src: url('./fonts-files/OpenSans-VariableFont.ttf') format('truetype');
}

@font-face {
  font-family: DrukTextWideCur;
  src: url('./fonts-files/druktextwidecyr-medium.otf') format('opentype');
}
