.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 32px 32px 32px 40px;
  box-shadow: 0 0 12px 0 rgb(103 87 241 / 32%);
  border-radius: 20px;
  z-index: 1000;
  opacity: 0;
  background: var(--clr-1);
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(0.8);

  &__title {
    font-size: 24px;
    line-height: 32px;
    color: var(--clr-black);
    margin-bottom: 16px;
    font-family: var(--ffm-title);
    text-align: center;
  }

  &__content {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: var(--ffm-default);
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__small {
    inline-size: 600px;
    padding: 24px;

    &__content {
      gap: 40px;
    }
  }

  &__close {
    position: absolute;
    border: none;
    background-color: transparent;
    top: -25px;
    right: 0;
    width: 24px;
    height: 24px;
    fill: var(--clr-black);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
