.wrapper {
  padding: 44px 122px 0;
}

.title {
  font-weight: 500;
  font-size: 32px;
  margin-block-end: 32px;
  font-family: var(--ffm-title);
}

.container {
  display: grid;
  grid-template-columns: 376px 1fr;
  gap: 28px;
  inline-size: 100%;
  margin-block-end: 92px;

  button {
    border: none;
    background-color: transparent;
    font-weight: inherit;
  }
}

.tabs {
  margin-block-end: 27px;
  background-color: var(--clr-main);
  border-radius: 20px;
  block-size: 193px;
  padding: 24px;

  &__list {
    font-family: var(--ffm-default);
    color: var(--clr-7);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    block-size: 48px;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  &__item_active {
    color: var(--clr-primary-default);
    font-weight: 700;
  }
}

.content {
  max-inline-size: 793px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__item {
    background-color: var(--clr-main);
    border-radius: 20px;
  }

  &__btn {
    cursor: pointer;
    font-family: var(--ffm-default);
    color: var(--clr-primary-default);
    font-size: 20px;
    text-decoration: underline;

    & p {
      font-weight: 700;
    }
  }
}
