.item {
  display: flex;
  align-items: start;

  &:nth-child(even) .elipse {
    background-color: var(--clr-purple-bg);
  }
}



.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 25px 10px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--clr-primary-default);
  inline-size: 74px;
  aspect-ratio: 1;
  margin-block-start: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-inline: 20px 52px;
  padding-block: 32px;

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    font-family: var(--ffm-title);
  }

  &__txt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: var(--black);
  }

  &__link {
    color: var(--clr-primary-default);
    text-decoration: underline;
  }
}

.elipse {
  display: block;
  inline-size: 294px;
  aspect-ratio: 1;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--clr-blue-bg);
  position: relative;
}
