// Заглушка

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    cursor: pointer;
    font-family: var(--ffm-default), sans-serif;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    border: none;
    block-size: 42px;
  }

  .current {
    border-bottom: 2px solid black;
    pointer-events: none;
  }
}
