// Заглушка

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    cursor: pointer;
    font-family: var(--ffm-default), sans-serif;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    border: none;
    block-size: 42px;
    border-bottom: 2px solid black;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.36;
    color: var(--clr-black, #000);
  }

  .current {
    pointer-events: none;
    color: var(--clr-primary-default, #6757f1);
    border-bottom: var(--clr-primary-default, #6757f1) solid 2px;
  }
}
