.container {
  position: relative;
  max-width: 1440px;
  min-height: 604px;

  &__recruiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &_title {
      margin: 0 0 32px;
      max-height: 106px;
      letter-spacing: 0;
      text-align: center;
      font-family: var(--ffm-title);
      font-size: 40px;
      font-weight: 500;
      line-height: 1.35;

      &_purple {
        color: #865bff;
      }

      &_blue { 
        color: #4558ff;
      }
    }

    &_subtitle {
      margin: 0 0 32px;
      max-height: 50px;
      max-width: 350px;
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      font-family: var(--ffm-tag);
      line-height: 1.26;
      letter-spacing: 0;
      text-indent: -5px;
    }

    &_image {
      position: absolute;
      block-size: 324px;
      inline-size: 324px;
      top: 280px;
      z-index: 1;
    }

    &_features {
      max-height: 160px;
      flex-wrap: wrap;
      gap: 14px;

      &_width {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 13px;
      }

      &_center {
        margin: 15px 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 14px;
      }
    }

    &_feature {
      padding: 0 16px;
      min-height: 44px;
      display: flex;
      align-items: center;
      background-color: rgb(212 208 251 / 100%);
      border-radius: 20px;
      font-family: var(--ffm-default);
      font-size: 20px;
      font-weight: 500;
      line-height: 1.32;
    }

    .container__recruiting_features_center > &_feature:last-child {
      padding: 0 12px;
    }
  }
}
