.main_block {
  display: flex;
  justify-content: center;
  margin-block-start: 61px;
}

.background_student {
  background-image: url(../../../assets/images/StudentIcons/backgroundStudent.png);
  inline-size: 1200px;
  block-size: 628px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  font-family: var(--ffm-default);
  color: var(--clr-main);
}

.switch {
  margin-block-start: 60px;
}

.title {
  inline-size: 752px;
  block-size: 159px;
  font-size: 40px;
  line-height: 132%;
  font-family: var(--ffm-title);

  margin-block-start: 31px;
  padding: 0 104px;
}

.text {
  inline-size: 752px;
  block-size: 52px;
  margin-block-start: 23px;
}

.button {
  margin-block-start: 44px;
  padding: 16px 24px 16px 24px;
  border-radius: var(--border-radius-btn-social);
  background-color: var(--clr-main);
  font-weight: 700;
  border: none;
  color: var(--clr-black);
}

.icons {
  position: relative;
}

.loupe {
  position: absolute;
  inset-inline-end: 902px;
  inset-block-start: 8px;
}

.toggle {
  position: absolute;
  inset-inline-end: 1023px;
  inset-block-start: 173px;
}
.cone {
  position: absolute;
  inset-inline-end: 843px;
  inset-block-start: 391px;
}
.bubble {
  position: absolute;
  inset-inline-start: -175px;
  inset-block-start: 42px;
}
.plus {
  position: absolute;
  inset-inline-end: -120px;
  inset-block-start: 330px;
}

/*блок репетитора*/

.background_teacher{
  background-image: url(../../../assets/images/TeacherIcons/backgroundTeacher.png);
  width: 1200px;
  height: 628px;
}

.triangle {
  position: absolute;
  inset-inline-end: 900px;
}

.cube {
  position: absolute;
  inset-inline-end: 938px;
  inset-block-start: 358px;
}
.ring {
  position: absolute;
  inset-inline-end: -11px;
    inset-block-start: 1px;
}
.spiral {
  position: absolute;
  inset-inline-end: -116px;
  inset-block-start: 299px;
}