.icons {
  position: relative;
}

.icon {
  transition: opacity 0.5s ease;
  position: absolute;
  opacity: 0;
}

.student {
  opacity: 1;
}

.teacher {
  opacity: 1;
}

.triangle {
  inset-inline-end: 900px;
}

.cube {
  inset-inline-end: 938px;
  inset-block-start: 358px;
}

.ring {
  inset-inline-end: -11px;
  inset-block-start: 1px;
}

.spiral {
  inset-inline-end: -116px;
  inset-block-start: 299px;
}

.loupe {
  inset-inline-end: 902px;
  inset-block-start: 8px;
}

.toggle {
  inset-inline-end: 1023px;
  inset-block-start: 173px;
}

.cone {
  inset-inline-end: 843px;
  inset-block-start: 391px;
}

.bubble {
  inset-inline-start: -175px;
  inset-block-start: 42px;
}

.plus {
  inset-inline-end: -120px;
  inset-block-start: 330px;
}
