.input-wrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--ffm-default);
  gap: 8px;

  label {
    line-height: 1.36;
  }

  input {
    background-color: var(--clr-1);
    border: none;
    border-radius: 16px;
    font-family: inherit;
    block-size: 26px;
    padding: 20px 16px;
  
    &::placeholder {
      font-size: 20px;
      line-height: 1.32;
    }
  }
}
