.user {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0 20px 12px;

  &__name {
    font-size: 18px;
    font-weight: 700;

    @media screen and (max-width = 750px) {
      max-inline-size: 300px;
    }
  }
}

@media screen and (max-width = 620px) {
  .user {
    grid-column: 1/-1;
    grid-row: 2/3;
    row-gap: 8px;
    padding-inline: 20px;

    &__name {
      font-size: 20px;
      max-inline-size: 100%;
    }
  }
}
