.switch_background {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 265px;
  height: 48px;
  background: var(--clr-transparent30);
  border-radius: 100px;
}

.button {
  font-family: var(--ffm-default);
  font-weight: 700;
  font-size: 20px;
  background: none;
  border: none;
  color: var(--clr-main);
  padding: 8px 15px;
  
}

.button_active {
  color: var(--clr-black);
  background: var(--clr-main);
  border-radius: 45px;
  margin-inline-end: 4px;
}
