.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-radius: var(--border-radius-blocks);
  padding-block: 19px;
  background-color: var(--clr-main);
  max-inline-size: 1200px;

  &__logo {
    margin: 0 35px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 43px;
    margin: auto 35px;

    &--student {
      gap: 49px;
      margin-inline-end: 64px;
    }
  }

  &__button {
    border: 2px solid transparent;
    background: none;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid var(--clr-primary-default, #6757f1);
      color: var(--clr-primary-default);
    }
  }

  &__svg {
    margin-inline-end: 10px;
  }

  &__avatar {
    position: relative;
    cursor: pointer;

    &__chevron {
      content: '';
      position: absolute;
      top: 20%;
      right: -32px;
      width: 24px;
      height: 24px;
      border: none;
      background: none;
      background-image: url('../../assets/images/arrow.svg');
      transition: transform 0.3s ease;

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 51px;
    right: -70%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-11px);
    background-color: var(--clr-main);
    border-radius: var(--border-radius-blocks);

    &__list {
      display: flex;
      flex-direction: column;
      gap: 7px;
      font-weight: 500;

      &__item {
        display: flex;
        gap: 9px;
        align-items: center;
        padding: 8px;
        font-size: 14px;
        border: none;
        background: none;
        inline-size: 191px;
      }
    }

    &--active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.telegram {
  padding-inline: 17px !important;
  padding-block: 19px;
}
