.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-blocks);
  padding: 26px 32px;
  background-color: var(--clr-main);
  max-inline-size: 1200px;
  margin-left: 110px;

  &__logo {
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 48px;
  }

  // &__button {
  //   display: inline-block;
  //   font-family: var(--ffm-default, 'Montserrat', courier, monospace);
  //   font-weight: 400;
  //   font-size: 16px;
  //   line-height: 1;
  //   border: 2px solid transparent;
  //   background: none;
  //   transition: all 0.3s ease;
  //   cursor: pointer;

  &__link {
    border: none;
    background: none;
    text-decoration: none;
    background-color: transparent;
    font-family: var(--ffm-default, 'Montserrat', courier, monospace);
    font-weight: 400;
    font-size: 16px;

    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      font-weight: 500;
      font-size: 16px;
      text-decoration: underline;
      color: var(--clr-primary-default);
    }
  }

  &__svg {
    margin-inline-end: 10px;
  }

  &__avatar {
    position: relative;
    cursor: pointer;
    padding-right: 40px;

    &__chevron {
      content: '';
      position: absolute;
      top: 20%;
      right: 8px;
      width: 24px;
      height: 24px;
      border: none;
      background: none;
      background-image: url('../../assets/images/arrow.svg');
      transition: transform 0.3s ease;

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 51px;
    right: 5px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-main);
    border-radius: var(--border-radius-blocks);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    transform: translateY(-10px);

    &__list {
      display: flex;
      flex-direction: column;
      gap: 7px;
      font-weight: 500;

      &__item {
        display: flex;
        gap: 9px;
        align-items: center;
        padding: 8px;
        font-size: 14px;
        font-weight: 500;
        border: none;
        background: none;
        inline-size: 191px;

        &:hover {
          font-weight: 700;
        }
      }
    }

    &--active {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.telegram {
  padding-inline: 17px;
  padding-block: 19px;
}
