@use '../../assets/styles/mixins/flexCenter.scss' as *;

.catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 41px auto 1fr;
  gap: 32px 20px;
  justify-items: center;
  max-inline-size: 1200px;
  margin-inline: auto;
  margin-block: 40px 176px;

  &__title {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    font-size: 32px;
    font-weight: 500;
    font-family: var(--ffm-title);
    max-block-size: 41px;
    block-size: 100%;
    justify-self: start;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    row-gap: 32px;
  }

  &__button {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &__hint {
    position: relative;
    padding: 24px 0 24px 20px;
    max-inline-size: 100%;
    font-weight: 600;
    background-color: #f1d5f6;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      left: -18px;
      top: 48%;
      transform: translateY(-50%);
      inline-size: 0;
      block-size: 0;
      border-right: 20px solid #f1d5f6;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-radius: 1px;
    }

    &_search {
      padding: 24px 0 24px 20px;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      font-family: var(--ffm-title);
      letter-spacing: -0.24px;
    }
  }

  &__filters {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    inline-size: 387px;
  }

  &__link {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    inline-size: 100%;
  }
}

.loader {
  position: fixed;
  top: 40%;
  left: 65%;
  inline-size: 48px;
  block-size: 48px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid var(--clr-primary-default);
    animation: prix-clip-fix 2s linear infinite;
  }
}

.modal__accept {
  @include flex-center();

  gap: 28px;
  max-inline-size: 598px;
  max-block-size: 357px;
  inline-size: 100%;
  block-size: 100%;

  &_context {
    @include flex-center();

    gap: 16px;
    max-inline-size: 534px;

    &--title {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 100%;
      font-family: var(--ffm-title);
    }

    &--text {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 136%;
    }
  }

  &_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    inline-size: 100%;
    block-size: 56px;

    &--item {
      padding: 0;
      max-inline-size: 149px;
      inline-size: 100%;
      block-size: 100%;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prix-clip-fix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
