.catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 32px 20px;
  justify-items: center;
  max-inline-size: 1200px;
  margin-inline: auto;
  margin-block: 31px 94px;

  &__cards {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    row-gap: 32px;
  }

  &__button {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &__search_hint {
    position: relative;
    padding: 24px 0 24px 20px;
    max-inline-size: 100%;
    font-weight: 600;
    background-color: #f1d5f6;
    border-radius: 20px;

    &::before {
      content: '';
      position: absolute;
      left: -18px;
      top: 48%;
      transform: translateY(-50%);
      inline-size: 0;
      block-size: 0;
      border-right: 20px solid #f1d5f6;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-radius: 1px;
    }
  }

  &__filters {
    inline-size: 387px;
  }

  &__link {
    inline-size: 100%;
  }
}
