@use '../../assets/styles/mixins/gradient.scss' as *;
@use '../../assets/styles/mixins/flexCenter.scss' as *;

.container {
  @include flex-center;

  max-width: 100%;
  margin-block-end: var(--margin-blocks);
  font-family: var(--ffm-title);

  &__list {
    @include flex-center;

    align-items: start;
    inline-size: 100%;
    gap: 19px;
  }

  &__title {
    max-inline-size: 550px;
    text-align: center;
    padding-block: 0 42px;
    font-size: 40px;
    font-weight: 500;
    line-height: 52.8px;

    &--accent {
      @include text-gradient(#865bff, #4558ff);
    }
  }
}
