.container-selectors {
    display: flex;
    justify-content: center;
    max-width: 100%;

    &__button {
        border-bottom: 2px solid var(--clr-2);
        padding-inline: 108px;
        cursor: pointer;
        border: none;
        background-color: transparent;

        &--text {
            color: var(--clr-black);
            font-family: var(--ffm-default);
            font-weight: 700;
            font-size: 20px;
            line-height: 132%;
            padding-block: 8px;
            width: max-content;
        }
    }
}

.active-select {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        inline-size: 100%;
        block-size: 2px;
        background-color: var(--clr-primary-default);
    }

    & .container-selectors__button--text {
        color: var(--clr-primary-default);
    }
}
