.filters {
  font-family: var(--ffm-default, courier, monospace);
  font-size: 16px;
  max-inline-size: 339px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 28px;

    >*:nth-child(4) {
      margin-block-end: 7px;
    }
  }

  &__reset {
    border-color: red !important;
    color: red !important;
    margin-block-start: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-end: 32px;
      font-weight: 700;
      font-size: 20px;

      h2 {
        font-weight: inherit;
        font-size: inherit;
        background: var(--Gradient-main,);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      span {
        padding-bottom: 1px;
        font-weight: inherit;
        font-size: 24px;
        background: var(--Gradient-main,);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    flex-direction: column;   
  }
  
  &__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }
  
  &__button {
    display: flex;
    block-size: 24px;
    align-items: start;
    border: none;
    padding: 0;
    background-color: var(--clr-main);
    cursor: pointer;
  }
  
  &__content {
    max-height: 0;
    margin-left: 27px;
    transition: all var(--duration) var(--timing);
    overflow: hidden;
  }
  
  &__icon {
    fill: var(--clr-primary-default);
    transition: all var(--duration) var(--timing);
  }
  
  &__open {
    max-block-size: fit-content;
  }
}

.checkboxes {
  &__title {
    margin-block-end: 16px;
    font-weight: 600;
    font-size: inherit;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    block-size: 24px;
    font-weight: 500;
    font-size: 15px;
    gap: 3px;
    font-style: normal;
  }

  & input {
    position: relative;
    margin-inline-start: 1px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--clr-3);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    appearance: none;
    margin-right: 4px;

    &:checked {
      border: 2px solid var(--clr-primary-default);
    }

    &:checked::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 12L11 14L15 10' stroke='%236757F1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      transform: translate(-50%, -50%);
    }
  }
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__title {
    font-weight: 600;
    margin-block-start: 1px;
    font-size: inherit;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 5px;
  }

  &__checkbox:nth-child(n + 3) {
    font-family: var(--ffm-price);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 500;
    font-size: 15px;
    block-size: 24px;

    & input {
      width: 20px;
      height: 20px;
      border: 2px solid var(--clr-3);
      border-radius: 50%;
      cursor: pointer;
      appearance: none;

      &:checked {
        position: relative;
        border: 2px solid var(--clr-primary-default);
      }

      &:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--clr-primary-default);
        transform: translate(-50%, -50%);
      }
    }
  }
}

.prices {
  margin-block-start: 3px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  
  &__inputs {
    block-size: 44px;
    margin-inline-start: 3px;
    margin-block-start: 6px;
    display: flex;
    gap: 13px;  
  }
}
