@use '../../assets/styles/variables.scss' as *;

.container {
  width: 1440px;
  height: 546px;
  position: relative;

  &__description {
    padding: 64px 112px;
    width: 1200px;
    height: 418px;
    display: flex;
    gap: 20px;

    &_role::after {
      content: '';
      background-image: url('../../assets/Magnifer.png');
      background-repeat: no-repeat;
      block-size: 189.4272px;
      inline-size: 189.4272px;
      position: absolute;
      left: 74px;
      bottom: 10px;
      z-index: 1;
    }

    &_telegram::before {
      content: '';
      background-image: url('../../assets/Spiral.png');
      background-size: cover;
      block-size: 400px;
      inline-size: 400px;
      position: absolute;
      right: -25px;
      top: -145px;
      z-index: 1;
    }

    &_block {
      display: flex;
      flex-direction: column;
      border: 2px solid transparent;
      background-image:
        linear-gradient(white, white),
        linear-gradient(
          288.86deg,
          #3dc5ff 5.24%,
          #4558ff 29.77%,
          #865bff 60.98%,
          #ff71f9 89.96%,
          #ffaa47 116.71%
        );
      background-origin: border-box;
      background-clip: content-box, border-box;
      min-width: 590px;
      border-radius: 20px;
      justify-content: space-between;
      box-sizing: border-box;
    }

    &_role_info {
      color: var(--clr-black);
      font-family: var(--ffm-title);
      margin: 10px 38px;
      width: 514px;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 125%;
    }

    &_role_emoji {
      width: 254px;
      padding-left: 294px;
    }

    &_telegram_info {
      color: var(--clr-black);
      font-family: var(--ffm-title);
      margin: 10px 38px;
      width: 510px;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 125%;
    }

    &_telegram_emoji {
      width: 254px;
      padding-left: 294px;
    }
  }
}

.link {
  color: var(--clr-primary-default);
  text-decoration: none;
}

.link:active {
  color: var(--clr-primary-pressed);
}

.link:hover {
  color: var(--clr-primary-hover);
}

.link:disabled {
  color: var(--clr-primary-disabled);
}
