.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;

  &__title {
    font-family: var(--ffm-title);
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }

  &__button {
    align-self: flex-end;
    max-inline-size: 365px;
  }
}

.textarea {
  position: relative;

  &__title {
    font-family: var(--ffm-default);
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__error {
    position: absolute;
    bottom: -5px;
    left: 0;
    font-family: var(--ffm-default);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var(--clr-secondary-default);
    min-height: 18px;
    margin: 0;
  }

  &__area {
    display: flex;
    align-items: flex-start;
    padding: 12px 16px;
    inline-size: 100%;
    min-block-size: 164px;
    font-family: var(--ffm-default);
    font-size: 15px;
    line-height: 1.6;
    border: 2px solid transparent;
    resize: vertical;
    border-radius: 12px;
    background:
      linear-gradient(var(--clr-main), var(--clr-main)) padding-box,
      linear-gradient(
          180deg,
          var(--clr-primary-input) 0%,
          var(--clr-primary-default) 100%
        )
        border-box;

    &:focus {
      outline: none;
    }
  }
}
