.auth {
  max-width: 680px;

  // Test tubs
  &__tabs {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;

    button {
      margin-top: 20px;
    }
  }
}
