.auth {
  max-width: 680px;

  &__form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    inline-size: 100%;
    margin-block-start: 40px;

    button {
      margin-top: 20px;
    }
  }
}
