@mixin text-gradient($color2: #4558ff, $color3: #865bff) {
  background: linear-gradient(82deg, $color2 0.77%, $color3 126.98%);
  background-clip: text;
  color: transparent;
}

@mixin title-gradient {
  background: linear-gradient(
    289deg,
    #3dc5ff 5.24%,
    #4558ff 29.77%,
    #865bff 60.98%,
    #ff71f9 89.96%,
    #ffaa47 116.71%
  );
  background-clip: text;
  color: transparent;
}
