.bubble {
  position: absolute;
  z-index: 999;
  display: flex;
  border-radius: var(--border-radius-chat);
  padding: 12px;
  background-color: var(--clr-main);
  max-inline-size: 214px;
  min-block-size: 68px;
  inset-block-end: 344px;
  inset-inline-start: 118px;

  &__txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.36;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url("../../../assets/images/chatArrow.svg");
    block-size: 40px;
    inline-size: 24px;
    inset-block-end: -14px;
    inset-inline-start: 0;
  }

  &.right::after {
    transform: scaleX(-1);
    inset-inline: auto 0;
  }
}
