@use '../../../../assets/styles/mixins/formField.scss' as *;

.select {
  @include form-field;
  position: relative;
  appearance: none;
  padding-right: 40px;
  cursor: pointer;
  background:
    url('../../../../assets/icons/arrowDown.svg') no-repeat right 12px center,
    linear-gradient(var(--clr-main), var(--clr-main)) padding-box,
    linear-gradient(
        180deg,
        var(--clr-primary-input) 0%,
        var(--clr-primary-default) 100%
      )
      border-box;
}

.open {
  background:
    url('../../../../assets/icons/arrowUp.svg') no-repeat right 12px center,
    linear-gradient(var(--clr-main), var(--clr-main)) padding-box,
    linear-gradient(
        180deg,
        var(--clr-primary-input) 0%,
        var(--clr-primary-default) 100%
      )
      border-box;
}

.options {
  content: '';
  display: flex;
  inline-size: 90%;
  position: absolute;
  padding: 8px;
  background: white;
  color: var(--clr-text);
   appearance: none;
}
