@use '../../../../assets/styles/mixins/formField.scss' as *;

.select {
  @include form-field;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg...');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  padding-right: 10px;
}
