.accordions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  fill: var(--clr-primary-default);
  transition: all var(--duration) var(--timing);
}

.main-title {
  font-weight: 600;
  font-size: 16px;
}

.title {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-block-end: 5px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}

.button {
  display: flex;
  align-items: center;
  gap: 9px;
  border: none;
  padding: 0;
  background-color: var(--clr-main);
  cursor: pointer;
  block-size: 24px;
}

.content {
  max-height: 0;
  margin-left: 17px;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}

.item {
  display: flex;
  flex-direction: column;

  &_open {
    .content {
      max-height: 700px;
      opacity: 1;
    }

    .title {
      color: var(--clr-primary-default);
    }

    .chevron {
      margin-block-start: 8px;
      border-color: var(--clr-primary-default);
      transform: rotate(-135deg);
    }
    
    &_short {
      .content {
        max-height: 170px;
        opacity: 1;
      }
    }
  }
}
