.container {
  margin-block-end: var(--margin-blocks);
  color: var(--clr-black);
  inline-size: 100%;
}

.title {
  margin-block: 11px 43px;
  font-family: var(--ffm-title);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.32;
  text-align: center;
}

.accent {
  color: transparent;
  background: linear-gradient(150deg, #4558ff 50%, #3dc5ff 100%);
  background-clip: text;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 145px;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 40px;
    background-color: #eee;
    inline-size: 82px;
    block-size: 87%;
  }

  .accentText {
    color: var(--clr-primary-default);
  }
}
