.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__title {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
  }

  &__collapse {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-25px);
    transition:
      max-height var(--delay-dekstop, 0.3s) var(--timing, ease-in),
      transform var(--delay-dekstop, 0.3s) var(--timing, ease-in),
      opacity var(--duration, 0.4s) var(--timing, ease-in);
  }

  &__content {
    width: 100%;
    padding-inline: var(--padding-blocks, 32px);
    padding-block-start: var(--gap-blocks, 20px);
  }
}

.open {
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}
