.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  inline-size: 100vw;
  max-block-size: 100vh;
  padding: 20px 0px;
  overflow-y: auto;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--clr-1);
    padding: var(--padding-blocks);
    border-radius: var(--border-radius-blocks);
    max-inline-size: 800px;
    inline-size: 90%;
    }

  &__close {
    display: flex;
    justify-content: flex-end;
    max-inline-size: 800px;
    inline-size: 90%;

    &_button {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      inline-size: 24px;
      block-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }

    &_image {
      inline-size: 14px;
      block-size: 14px;
    }
  }

  &__title {
    font-family: var(--ffm-title);
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-black);
    margin-bottom: 40px;
  }

  &__button {
    inline-size: 400px;
    block-size: 52px;
    margin-top: 60px;
    background: var(--clr-primary-default);
    border: none;
    border-radius: var(--border-radius-btn);
    font-family: var(--ffm-default);
    font-size: 16px;
    font-weight: 700;
    color: var(--clr-main);

    &:hover {
      background: var(--clr-primary-hover);
    }

    &:active {
      background: var(--clr-primary-pressed);
    }

    &:disabled {
      background: var(--clr-primary-disabled);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--ffm-default);
    font-size: 20px;
    font-weight: 400;
    color: var(--clr-black);
  }
}