.container {
  &__auxiliary {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 48px;
    min-height: 80px;
  }

  &__options {
    &--age {
      inline-size: 363px;
      align-self: flex-start;
    }

    &--price {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 12px;
      position: relative;

      & .container__options--price-input {
        inline-size: 97px;
      }

      & .container__options--price-input input {
        block-size: 44px;
        inline-size: 97px;
      }

      &-currency {
        line-height: 100%;
        font-weight: 500;

        margin-block-end: 12px;
        block-size: 20px;
      }
    }

    &--added {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 12px;
      border: none;
      color: var(--clr-primary-default);
      font-size: 16px;
      font-weight: 600;
      background-color: transparent;
      margin-block-end: 12px;
      max-inline-size: 250px;
      padding: 0;
    }
  }
}
