.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235 235 235);

  &__header {
    width: 1200px;
    margin: 0 120px;
    height: 158px;
    display: flex;
    justify-content: space-between;

    &_title {
      width: 488px;
      font-weight: 500;
      font-size: 40px;
      font-family: var(--ffm-title);
      line-height: 132%;
      margin: 25px 0 0;

      &_gradient {
        background: linear-gradient(
          288.86deg,
          #4558ff 29.77%,
          #865bff 60.98%,
          #ff71f9 109.96%
        );
        background-clip: text;
        color: transparent;
      }
    }

    &_list {
      display: flex;
      gap: 11px 13px;
      flex-wrap: wrap;
      width: 691px;
      margin: 26px 0 0;

      &_more {
        display: flex;
        gap: 8px;
      }

      &_item {
        display: flex;
        align-items: center;
        list-style: none;
        height: 44px;
        border-radius: var(--border-radius-blocks);
        padding: 0 15px;
        border: 1px solid var(--clr-primary-default);
        background-color: var(--clr-main);
        box-sizing: border-box;

        &_text {
          font-family: var(--ffm-default);
          font-size: 20px;
          font-weight: 500;
          line-height: 132%;
        }
      }
    }
  }

  &__all {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;

    &_button {
      background-color: var(--clr-primary-default);
      border-radius: var(--border-radius-btn);
      border: none;
      width: 386px;
      height: 56px;

      &_text {
        color: var(--clr-main);
        font-family: var(--ffm-default);
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
}
