@use '../../assets/styles/variables.scss' as *;

.container {
  width: 1440px;
  height: 1015px;
  display: flex;
  flex-direction: column;
  background-color: rgb(235 235 235);

  &__header {
    width: 1200px;
    margin: 0 120px;
    height: 158px;
    display: flex;
    justify-content: space-between;

    &_title {
      width: 488px;
      font-weight: 500;
      font-size: 40px;
      font-family: var(--ffm-title);
      line-height: 132%;
      padding: 0;

      &_gradient {
        background: linear-gradient(315deg, #4558ff 10%, #865bff 90%);
        background-clip: text;
        color: transparent;
      }
    }

    &_list {
      display: flex;
      gap: 12px 13px;
      flex-wrap: wrap;
      width: 691px;
      padding: 0;
      margin: 26px 0 0;

      &_more {
        display: flex;
        gap: 8px;
      }

      &_item {
        display: flex;
        align-items: center;
        list-style: none;
        height: 44px;
        border-radius: 20px;
        padding: 0 15px;
        border: 1px solid rgb(103 87 241 / 100%);
        background-color: rgb(255 255 255 / 100%);
        box-sizing: border-box;

        &_text {
          font-family: var(--ffm-default);
          font-size: 20px;
          font-weight: 500;
          line-height: 132%;
        }
      }
    }
  }

  &__all {
    display: flex;
    justify-content: center;
    margin: 25px 0 0;

    &_button {
      background-color: rgb(103 87 241 / 100%);
      border-radius: 16px;
      border: none;
      width: 386px;
      height: 56px;

      &_text {
        color: rgb(255 255 255 / 100%);
        font-family: var(--ffm-default);
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
    }
  }
}
