.card {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  padding: 24px;
  gap: 24px 20px;
  max-inline-size: 793px;

  &__buttons {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
