.container {
  display: flex;
  justify-content: center;

  &__info {
    inline-size: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--clr-primary-default);

    &_title {
      margin-left: 16px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0;
    }

    &_rating {
      font-weight: 700;
      font-size: 14px;
    }

    &_star {
      margin-right: 13px;
      inline-size: 15px;
      block-size: 15px;
    }
  }

  &__button {
    margin-right: 7px;
    inline-size: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &_rating {
      color: var(--clr-1);
      font-family: var(--ffm-default);
    }

    &_star {
      position: relative;
    }
  }
}

.small {
  inline-size: 62px;
  block-size: 28px;
  border-radius: 10px;

  &_content {
    gap: 3px;

    &_rating {
      font-weight: 600;
      font-size: 14px;
    }

    &_star {
      inline-size: 18px;
      block-size: 15px;
    }
  }
}

.medium {
  inline-size: 88px;
  block-size: 46px;
  border-radius: 8px;

  &_content {
    gap: 5px;
    padding: 0 0 2px;

    &_rating {
      font-weight: 700;
      font-size: 24px;
    }

    &_star {
      padding: 1px 2px 0 0;
      inline-size: 18px;
      block-size: 18px;
    }
  }
}

.large {
  inline-size: 248px;
  block-size: 32px;
  border: 1px solid rgb(103 87 241 / 100%);
  border-radius: 10px;
  font-family: var(--ffm-default);
  color: rgb(103 87 241 / 100%);
}

.rating_blue {
  background-color: #6757f1;
}

.rating_purple {
  background-color: #ab77fa;
}

.rating_red {
  background-color: #fa7782;
}

.container__button:disabled {

  color: rgb(117, 117, 119);
  
}
