.cabinet {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-inline-size: 1440px;
  padding: 40px 0 0 120px;

  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-block-end: 32px;
    font-family: var(--ffm-title);
  }

  &__infoBlock {
    display: flex;
    gap: 20px;
  }
}
