:root {
    /* base */
    //uncategorized
    --clr-black: #172936;
    --clr-purple-bg: #DBC4F7;
    --clr-blue-bg: #A2BCEA;
    --clr-tertiary: #D4D07B;
    --clr-yellow: #FBED2D;
    --clr-blue: #3D7FF1;    
     //white
    --clr-main:#FFFFFF;
    --clr-transparent30: #FFFFFF4d;     
     //grey
    --clr-1: #F5F5F7;
    --clr-2: #EEEEEE;
    --clr-3: #D1D4DB;
    --clr-4: #858585;
     //type
    --clr-primary-default:#6757F1;
    --clr-primary-pressed:#2E276C;
    --clr-primary-hover:#5246C1;
    --clr-primary-disabled:#EEEEEE;
    --clr-secondary-default:#F04040;
    --clr-secondary-pressed:#904040;
    --clr-secondary-hover:#B04040;
    --clr-secondary-disabled:#BE9999;

    /* text */
    --tdn: underline solid;

    /* misc */
    --delay-dekstop: 300ms;
    --delay-phone: 400ms;
    --duration: 400ms;
    --timing: ease-in;

    /* fonts */    
    --ffm-default: 'Montserrat', Courier, monospace;
    --ffm-tag: 'Open-Sans', Courier, monospace;
    --ffm-title: 'Druk Text Wide Cyr', Courier, monospace;
    
    /* indentation */
    --padding-inline: 120px;
    --padding-blocks: 32px;
    --margin-blocks: 140px;
    --gap-blocks: 20px;
    --border-radius-btn-social: 12px;
    --border-radius-btn: 16px;
    --border-radius-blocks: 20px;
    --border-radius-chat: 24px;
}
