.container {
  padding-top: 10px;
  margin: 24px auto 120px;
  max-inline-size: 1200px;
  position: relative;

  &__return {
    display: flex;
    background: none;
    border: none;
    gap: 4px;

    &_text {
      font-family: var(--ffm-default);
      font-weight: 600;
      font-size: 14px;
      line-height: 1.36;
      color: rgb(103 87 241 / 100%);
    }
  }

  &__profile {
    margin-top: 29px;
    display: flex;
    gap: 20px;
    justify-content: space-between;

    &_contact {
      flex-grow: 1;

      &_img {
        width: 100%;
        max-block-size: 356px;
        object-fit: contain;
        border-radius: var(--border-radius-btn-social);
      }

      &_connection {
        padding-top: 18px;
        inline-size: 1;

        &_text {
          padding: 10px 0 0 10px;
          font-family: var(--ffm-default);
          font-weight: 400;
          font-size: 14px;
          line-height: 1.36;
        }
      }
    }

    &_info {
      display: flex;
      gap: 19px;
      flex-direction: column;

      &_portrait {
        padding: 32px;
        max-width: 895px;
        background-color: rgb(255 255 255 / 100%);
        border-radius: 20px;

        &_name {
          font-family: var(--ffm-default);
          font-weight: 700;
          font-size: 32px;
          line-height: 36px;
        }

        &_status {
          font-family: var(--ffm-default);
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          margin-top: 22px;

          &_text {
            color: var(--clr-7);
          }

          &_years {
            font-family: var(--ffm-default);
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            margin-left: 23px;
          }
        }

        &_rating {
          margin-top: 22px;
        }

        &_price {
          font-family: var(--ffm-default);
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          margin-top: 29px;
        }

        &_parameters {
          margin-top: 22px;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &_freeTime {
        cursor: pointer;
      }
    }
  }
}
.back {
  margin: 34px auto 0;
  max-inline-size: 1200px;
}
