* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --margin-blocks: 140px;
  --padding-blocks: 32px 32px;
  --gap-blocks: 20px;
  --border-radius-btn-social: 12px;
  --border-radius-btn: 16px;
  --border-radius-blocks: 20px;
  --border-radius-chat: 24px;
}
