:root {
  --padding-inline: 120px;
  --padding-blocks: 32px;
  --margin-blocks: 140px;
  --gap-blocks: 20px;
  --border-radius-btn-social: 12px;
  --border-radius-btn: 16px;
  --border-radius-blocks: 20px;
  --border-radius-chat: 24px;
}
