.wrapper {
  display: flex;
  gap: 48px;
}

.form {
  display: flex;
  gap: 48px;

  &__avatar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 29px 47px;
  }
}
