.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 32px;
  max-inline-size: 1200px;
  inline-size: 100%;
  font-weight: 500;

  &__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 20px;
    font-family: var(--ffm-title);
  }

  &__description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    line-height: 136%;
    max-inline-size: 800px;
  }
}

.container {
  &_drop {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 12px;

    min-block-size: 169px;
    border: 2px dashed #818181;
    border-radius: 10px;
    color: #545252;
    line-height: 136%;
    padding: 20px;

    &--drag {
      justify-content: center;
      text-align: center;
      border-color: var(--clr-primary-hover);
    }
  }

  &_drop,
  &_video {
    margin: 24px;
    block-size: fit-content;
    max-inline-size: 370px;

    & video {
      border-radius: 10px;
      inline-size: 100%;
    }

    &__title {
      font-weight: 500;

      &--link {
        color: var(--clr-primary-default);
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }

    &__requirements {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-weight: 400;

      &-list {
        margin-left: 23px;

        li {
          position: relative;

          &::before {
            content: '•';
            position: absolute;
            left: -15px;
          }
        }
      }
    }
  }

  &__dragging-text {
    color: var(--clr-primary-default);
    font-size: 26px;
    font-weight: 500;
    line-height: 136%;
  }

  &_advices {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;

    &__title {
      font-weight: 700;
      line-height: 24px;
    }

    &__list {
      font-size: 14px;
      line-height: 18px;
      margin-left: 23px;

      li {
        position: relative;

        &::before {
          content: '•';
          position: absolute;
          left: -15px;
        }
      }
    }
  }
}
