.container {
  margin-top: 19px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__document {
    max-block-size: 138px;
    max-inline-size: 200px;
    position: relative;
    cursor: pointer;

    &_zoom {
      position: absolute;
      top: calc((100% / 2) - 18px);
      left: calc((100% / 2) - 18px);
      inline-size: 36px;
      block-size: 36px;
    }

    &_img {
      object-fit: contain;
      max-width: 100%;
    }
  }

  &__full {
    max-inline-size: 80vw;
    max-block-size: 80vh;
  }
}
