.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-inline: auto;
}

.title {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.5rem;
  z-index: 2;
}

.button {
  align-self: center;
  background-color: #646cff;
  max-width: 260px;
  font-size: 28px;
  padding-inline: 25px;
  padding-block: 5px;
  color: inherit;
  transition:
    background-color 0.3s ease-in-out,
    color 0.4s linear;
  z-index: 2;

  &__active {
    background-color: #eee351;
    color: #646cff;
  }

  &:focus-visible,
  &:focus {
    outline: none;
  }

  &:hover {
    border-color: transparent;
  }
}

.logo {
  align-self: center;
  display: block;
  max-width: 320px;
  max-height: 320px;
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  &__hidden {
    transform: translateX(100%);
    opacity: 0;
  }
}
