* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: var(--ffm-default);
}

body {
  font-family: var(--ffm-default, 'Montserrat', courier, monospace);
  color: var(--clr-black, #172936);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a {
  color: currentcolor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
