* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ffm-title, 'DrukTextWideCur', courier, monospace);
  color: var(--clr-black, #172936);
}

ul {
  list-style: none;
}

button,
a {
  color: currentcolor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
