*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ffm-default);
  color: var(--clr-black);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  color: currentcolor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

input {
  appearance: none;
}
