.title {
  font-weight: 600;
  font-size: 16px;
}

.prices {
  display: flex;
  flex-direction: column;
  margin-block-start: 3px;
  transition: all var(--fast-transition);

  &__inputs {
    display: flex;
    gap: 13px;
    margin-inline-start: 3px;
    margin-block-start: 19px;
    block-size: 44px;
  }

  > :last-child {
    margin-block-start: 12px;
  }

  &__error {
    text-align: center;
    inline-size: 307px;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-secondary-default);
    opacity: 0;
    block-size: 0;
    transform: translate(-20px);
    transition: all var(--slow-transition);

    &_active {
      margin-block-start: 10px;
      block-size: 24px;
      opacity: 1;
      transform: translate(0);
    }
  }
}
