.lesson {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;

  &__date {
    inline-size: 43px;

    &_text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-block-size: 100px;
    inline-size: 100%;
    padding: 12px 16px;
    background-color: var(--clr-1);
    border-radius: 16px;

    &_subject {
      font-weight: 600;
      font-size: 15px;
    }

    &_smallGap {
      gap: 12px;
    }
  }
}
